<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div id="user-data"
             ngModelGroup="userData"
             #userData="ngModelGroup"
          >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              name="username"
              type="text"
              id="username"
              class="form-control"
              ngModel
              required
            >
          </div>
          <button (click)="suggestUserName()" class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              name="email"
              type="email"
              id="email"
              class="form-control"
              ngModel
              required
              email
              #email="ngModel"
            >
          </div>
          <span class="help-block" *ngIf="email.invalid && email.touched">Please enter a valid value</span>
        </div>
        <p class="help-block" *ngIf="userData.invalid && userData.touched">User Data is invalid</p>
        <!-- one-way binding example -->
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            name="questionAnswer"
            class="form-control"
            cols="3"
            [(ngModel)]="answer"
          >
          </textarea>
        </div>
        <p>Your reply: {{ answer }}</p>
        <div class="radio" *ngFor="let g of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [ngModel] = "'male'"
              [value]="g"
            >
            {{g}}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="form.invalid"
        >Submit
        </button>
      </form>
    </div>
  </div>
</div>
<hr>
<div *ngIf="submitted" class="row">
  <div class="col-xs-12">
    <h3>Your Data</h3>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Secret Question: {{user.secretQuestion}}</p>
    <p>Answer: {{user.answer}}</p>
    <p>Gender: {{user.gender}}</p>
  </div>
</div>

